



<!DOCTYPE html>
<html>
<head>
    <title> registration form</title>
    <link rel=" stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="center">
            <div class="card-body">

                <div class="wrapper--w680">
                    <div>
                        FORM:
                        <a href="search">        search</a>
                        
                    </div>
                    <form action="/forms" method="post">
                        <div class="card">


                            <div class="label">
                                <div class="input--style-4">


                                    <label for="fname">student id:</label><br>
                                    <input type="text" id="student id" name="student_id"><br>
                                </div>
                            </div>

                            <div class="label">
                                <div class="input--style-4">

                                    <label for="student name">student name:</label><br>
                                    <input type="text" id="student name" name="student_name"><br>
                                </div>
                            </div>
                            <div class="label">
                                <div class="input--style-4">


                                    <label for="gender">gender</label><br>
                                    <label for="male">male</label>
                                    <input type="radio" id="male" name="gender" value="male" >

                                    <label for="female">female</label>
                                    <input type="radio" id="female" name="gender" value="female">

                                </div>
                            </div>


                            <div class="label">
                                <div class="input--style-4">

                                    <label for="city">city:</label><br>
                                    <input type="text" id="city" name="city"><br>
                                </div>
                            </div>
                            <div class="label">
                                <div class="input--style-4">

                                    <label for="state">state:</label><br>
                                    <input type="text" id="state" name="state"><br>
                                </div>
                            </div>
                            <div class="label">
                                <div class="input--style-4">

                                    <label for="email id">email id:</label><br>
                                    <input type="text" id="email id" name="email_id"><br>
                                </div>
                            </div>
                            <div class="label">
                                <div class="input--style-4">

                                    <label for="qualification">qualification:</label><br>
                                    <input type="text" id="qualification" name="qualification"><br>
                                </div>
                            </div>
                            <div class="label">
                                <div class="input--style-4">

                                    <label for="stream">stream:</label><br>
                                    <input type="text" id="stream" name="stream"><br>
                                </div>
                            </div>

                            <div class="center">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>

